body {
    background-color: rgb(255, 242, 168);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    cursor: pointer;
}